@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
.header {
  width: min(100%, 375px);
  margin: 0 auto;
  height: 537px;
  padding: 1.5rem 1rem 0 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url("../images/mobile/image-header.jpg");
  font-size: 18px;
  position: relative;
}
.header .header__navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .header__navigation .brand {
  width: -moz-fit-content;
  width: fit-content;
}
.header .header__navigation .icon-menu {
  width: -moz-fit-content;
  width: fit-content;
}
.header .header__navigation .nav {
  margin-top: 2rem;
  width: 100%;
  background-color: var(--White);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-flow: column no-wrap;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 500ms ease-in-out;
  z-index: 2;
}
.header .header__navigation .nav:before {
  position: absolute;
  content: " ";
  top: -23px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 24px solid transparent;
  border-bottom: 24px solid var(--White);
}
.header .header__navigation .nav .links {
  display: flex;
  flex-direction: column;
  flex-flow: column no-wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding-block: 2.8125rem 2.3125rem;
  cursor: pointer;
}
.header .header__navigation .nav .links .link {
  transition: transform 0.3s ease-in-out;
  font-weight: 600;
  font-family: var(--font1);
  color: var(--Very-dark-grayish-blue);
}
.header .header__navigation .nav .links .link:hover {
  transform: scale(1.2);
}
.header .header__navigation .nav .links .btn {
  background-color: var(--Yellow);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--Very-dark-desaturated-blue);
  font-family: var(--font2);
}
.header__title {
  z-index: 1;
  text-align: center;
  margin: -200px auto 0 auto;
  color: var(--White);
  font-size: 1.875em;
  font-weight: 900;
  font-family: var(--font2);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.header .icon-arrow {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 54%;
  left: 48%;
}

@media screen and (min-width: 768px) {
  .header {
    width: min(100%, 1440px);
    margin: 0 auto;
    height: 784px;
    padding: 1.5rem 1rem 0 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 60%;
    background-image: url("../images/desktop/image-header.jpg");
    font-size: 18px;
    position: relative;
  }
  .header .header__navigation {
    display: flex;
    flex-direction: row;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__navigation .icon-menu {
    display: none;
  }
  .header .header__navigation .nav {
    margin-top: 0px;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    background-color: transparent;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1/2fr 1fr;
    transition: opacity 500ms ease-in-out;
    z-index: 2;
    visibility: visible;
    opacity: 1;
  }
  .header .header__navigation .nav:before {
    display: none;
  }
  .header .header__navigation .nav .links {
    display: flex;
    flex-direction: row;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 0;
    cursor: pointer;
  }
  .header .header__navigation .nav .links .link {
    transition: transform 0.3s ease-in-out;
    font-weight: 600;
    font-family: var(--font1);
    color: var(--White);
  }
  .header .header__navigation .nav .links .link:hover {
    transform: scale(1.2);
  }
  .header .header__navigation .nav .links .btn {
    background-color: var(--White);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    font-family: var(--font2);
  }
  .header .header__navigation .nav .links .btn:hover {
    background: hsl(200, 100%, 72%);
    color: var(--White);
  }
  .header__title {
    margin: -200px auto 0 auto;
    z-index: 1;
    text-align: center;
    color: var(--White);
    font-size: 1.875em;
    font-weight: 900;
    font-family: var(--font2);
    text-transform: uppercase;
  }
  .header .icon-arrow {
    position: absolute;
    top: 45%;
    left: 50%;
  }
}
.main .main__container {
  width: min(100%, 375px);
  margin: 0 auto;
}
.main .main__container__section1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 247px auto 247px 345px 475px 475px;
}
.main .main__container__section1 .section1__card {
  padding: 3.625rem 1.5rem 0 1.5rem;
}
.main .main__container__section1 .section1__card__title {
  width: 70%;
}
.main .main__container__section1 .section1__card__parraf {
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
  font-family: var(--font1);
  color: var(--Very-dark-desaturated-blue);
}
.main .main__container__section1 .section1__card__article {
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  -moz-column-rule: var(--Very-dark-desaturated-blue);
       column-rule: var(--Very-dark-desaturated-blue);
  font-family: var(--font2);
  padding-bottom: 3.375rem;
  position: relative;
  z-index: 1;
}
.main .main__container__section1 .section1__card__article::after {
  content: "";
  width: 130px;
  height: 10px;
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  top: 12px;
  left: 90px;
  opacity: 0.3;
  transition: opacity 0.1s;
}
.main .main__container__section1 .section1__card__article:hover::after {
  cursor: pointer;
  opacity: 1;
  z-index: -1;
  transition: opacity 0.1s;
}
.main .main__container__section1 .section1__card__article.yellow::after {
  background-color: var(--Yellow);
}
.main .main__container__section1 .section1__card__article.pink::after {
  background-color: var(--Soft-red);
}
.main .main__container__section1 .section1__card--frut {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main__container__section1 .section1__card--egg {
  grid-row: 1/2;
  background-image: url(../images/mobile/image-transform.jpg);
  background-size: cover;
}
.main .main__container__section1 .section1__card--wine {
  grid-row: 3/4;
  background-image: url(../images/mobile/image-stand-out.jpg);
  background-size: cover;
  background-position: center center;
}
.main .main__container__section1 .section1__card--frut {
  display: flex;
  flex-direction: column;
  flex-flow: column no-wrap;
  justify-content: flex-end;
  align-items: center;
}
.main .main__container__section1 .section1__card--frut__wrap {
  text-align: center;
  padding-inline: 1rem;
  padding-top: 4.875rem;
}
.main .main__container__section1 .section1__card--frut__wrap__title {
  color: var(--Dark-moderate-cyan);
}
.main .main__container__section1 .section1__card--frut__wrap .wrap__text {
  font-size: 0.875em;
  font-family: var(--font1);
  font-weight: normal;
  margin-bottom: 3.125rem;
  line-height: 1.5rem;
}
.main .main__container__section1 .cherry {
  grid-row: 5/6;
  background-image: url(../images/mobile/image-graphic-design.jpg);
}
.main .main__container__section1 .orange {
  grid-row: 6/7;
  background-image: url(../images/mobile/image-photography.jpg);
}
.main .main__container__section2__title {
  text-transform: uppercase;
  padding-top: 3.125rem;
  margin-bottom: 2.625rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--Very-dark-grayish-blue);
}
.main .main__container__section2__testimonials .testimonial {
  padding-inline: 2rem;
  margin-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  flex-flow: column no-wrap;
  justify-content: flex-start;
  align-items: center;
}
.main .main__container__section2__testimonials .testimonial .wrap-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.main .main__container__section2__testimonials .testimonial .wrap-avatar img {
  border-radius: 50%;
}
.main .main__container__section2__testimonials .testimonial__description {
  text-align: center;
  font-family: var(--font1);
  font-weight: 600;
  margin-bottom: 2rem;
}
.main .main__container__section2__testimonials .testimonial__author {
  text-align: center;
}
.main .main__container__section2__testimonials .testimonial__author__name {
  font-family: var(--font2);
  font-weight: 900;
  margin-bottom: 0.75rem;
}
.main .main__container__section2__testimonials .testimonial__author__job {
  font-family: var(--font1);
  color: var(--Very-dark-grayish-blue);
}
.main .main__container__section3 {
  width: 100%;
  height: 296px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.main .main__container__section3 .gallery {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .main__container__section3 .milk {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}
.main .main__container__section3 .orange {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}
.main .main__container__section3 .cone {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}
.main .main__container__section3 .sugar {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

@media screen and (min-width: 768px) {
  .main .main__container {
    width: min(100%, 1440px);
    margin: 0 auto;
  }
  .main .main__container__section1 {
    display: grid;
    grid-template-columns: repeat(2, 720px);
    grid-template-rows: repeat(3, 593px);
  }
  .main .main__container__section1 .section1__card {
    display: flex;
    flex-direction: column;
    flex-flow: column no-wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20%;
  }
  .main .main__container__section1 .section1__card__title {
    width: 50%;
    text-align: left;
    margin: 0;
    margin-bottom: 3rem;
  }
  .main .main__container__section1 .section1__card__parraf {
    width: 73%;
    font-weight: 700;
    text-align: left;
    line-height: 1.5rem;
    font-family: var(--font1);
    color: var(--Very-dark-desaturated-blue);
  }
  .main .main__container__section1 .section1__card__article {
    text-align: left;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    -moz-column-rule: var(--Very-dark-desaturated-blue);
         column-rule: var(--Very-dark-desaturated-blue);
    font-family: var(--font2);
    padding-bottom: 3.375rem;
    position: relative;
  }
  .main .main__container__section1 .section1__card__article::after {
    content: "";
    width: 130px;
    height: 10px;
    background-color: transparent;
    border-radius: 50px;
    position: absolute;
    top: 12px;
    left: -10px;
    opacity: 0.3;
  }
  .main .main__container__section1 .section1__card__article.yellow::after {
    background-color: var(--Yellow);
  }
  .main .main__container__section1 .section1__card__article.pink::after {
    background-color: var(--Soft-red);
  }
  .main .main__container__section1 .section1__card--egg {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url(../images/mobile/image-transform.jpg);
    background-size: cover;
  }
  .main .main__container__section1 .section1__card--wine {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url(../images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
  }
  .main .main__container__section1 .section1__card--frut__wrap {
    padding-top: 0;
    text-align: center;
  }
  .main .main__container__section1 .section1__card--frut__wrap .wrap__title {
    margin-top: 2.5rem;
  }
  .main .main__container__section1 .section1__card--frut__wrap .wrap__text {
    width: 45%;
    font-size: 0.875em;
    font-family: var(--font1);
    font-weight: normal;
    margin-bottom: 3.125rem;
    line-height: 1.5rem;
    margin-inline: auto;
  }
  .main .main__container__section1 .cherry {
    grid-row: 3/4;
    grid-column: 1/2;
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
  .main .main__container__section1 .orange {
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url(../images/desktop/image-photography.jpg);
  }
  .main .main__container__section2__title {
    margin-top: 9.8125rem;
    font-size: 1.375em;
    margin-bottom: 4.9375rem;
  }
  .main .main__container__section2__testimonials {
    display: flex;
    flex-direction: row;
    flex-flow: row no-wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .main .main__container__section2__testimonials .testimonial {
    padding-inline: 2rem;
    margin-bottom: 3.125rem;
  }
  .main .main__container__section2__testimonials .testimonial .wrap-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  .main .main__container__section2__testimonials .testimonial .wrap-avatar img {
    border-radius: 50%;
  }
  .main .main__container__section2__testimonials .testimonial__description {
    width: 80%;
    line-height: 2rem;
  }
  .main .main__container__section2__testimonials .testimonial__author {
    text-align: center;
    margin-top: 4.375rem;
    margin-bottom: 9.125rem;
  }
  .main .main__container__section2__testimonials .testimonial__author__name {
    font-family: var(--font2);
    font-weight: 900;
    margin-bottom: 0.75rem;
  }
  .main .main__container__section2__testimonials .testimonial__author__job {
    font-family: var(--font1);
    color: var(--Very-dark-grayish-blue);
  }
  .main .main__container__section3 {
    width: 100%;
    height: 441px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .main .main__container__section3 .gallery {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main .main__container__section3 .milk {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  }
  .main .main__container__section3 .orange {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
  }
  .main .main__container__section3 .cone {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
  }
  .main .main__container__section3 .sugar {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
}
.footer {
  display: flex;
  flex-direction: column;
  flex-flow: column no-wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--Dark-moderate-cyan);
}
.footer__title {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}
.footer__title path {
  fill: var(--Darkblue);
}
.footer__links {
  width: 100%;
  padding-inline: 1.875rem;
  display: flex;
  flex-direction: row;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--font1);
  font-weight: 600;
  color: var(--Very-dark-grayish-blue);
  margin-bottom: 4.1875rem;
}
.footer__links ul {
  display: flex;
  flex-direction: row;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
.footer__links ul li {
  transition: color 0.3s;
}
.footer__links ul li:hover {
  cursor: pointer;
  color: var(--White);
}
.footer__social {
  display: flex;
  flex-direction: row;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 61px;
}
.footer__social svg {
  transition: fill 3s;
}
.footer__social svg path:hover {
  cursor: pointer;
  fill: var(--White);
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-flow: column no-wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--Dark-moderate-cyan);
  }
  .footer__title {
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
  }
  .footer__title path {
    fill: var(--Darkblue);
  }
  .footer__social {
    display: flex;
    flex-direction: row;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 61px;
    transition: fill 0.3s;
  }
  .footer__social img {
    width: 20px;
    height: 20px;
  }
}
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* TipografÃ­a */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en pÃ¡rrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografÃ­as y colocaciÃ³n de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografÃ­a para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font);
  font-weight: 400;
  color: var(--Dark-gray);
  overflow-y: auto;
  /* (Opcional) */
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated: hsl(167, 40%, 24%);
  --Darkblue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(167, 63%, 68%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White:hsl(0, 0%, 100%);
  --font1: "Barlow", sans-serif;
  --font2: "Fraunces", serif;
}

.hidden {
  visibility: hidden;
  height: 0;
  opacity: 0;
}

.global-title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  font-family: var(--font2);
  margin-bottom: 1.875rem;
}/*# sourceMappingURL=style.css.map */