@use "../base/mixins" as m;

.header {
  width: min(100%, 375px);
  height: 537px;
  padding: 1.5rem 1rem 0 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  @include m.flex(row, wrap, space-between, flex-start);
  background-image: url('../images/mobile/image-header.jpg');
  font-size: 18px;

  .brand{
    width: fit-content;
    
  }

  .icon-menu{
    width: fit-content;
  }

  .nav{
    
    width: 100%;    
    background-color: var( --White);
    position: relative;
    @include m.flex(column, no-wrap, flex-start, center);
    transition: opacity 500ms ease-in-out;
   
    &:before{
      position: absolute;
      content: " ";
      top: -23px;
      right: 0;
      width:  0;
      height: 0;
      border-left: 24px solid transparent;
      border-bottom: 24px solid var(--White);
      }
    .links{
      @include m.flex(column, no-wrap, flex-start, center);
      gap: 2rem;
      padding-block: 2.8125rem 2.3125rem;
      cursor: pointer;
      
      .link{
        transition: transform 0.3s ease-in-out;
        &:hover{
          transform: scale(1.2);
          
        }
       
      }
      

      .btn{
        background-color: var(--Yellow);
        padding: 1rem 2rem;
        border-radius: 50px;
        font-weight: 600;
        text-transform: uppercase;

      }
      
    }
    
  }

  &__title{
    width: 60%;
    border: 1px solid red;
    position: fixed;
    top: 200px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: var(--White);
    font-size: 1.875em;
    font-weight: 900;
    font-family: var(--font2);
    text-transform: uppercase;
  }
}
