@use "../base/var" as v;
.sections {
  display: grid;
  grid-template-columns: 1fr;

  .section-image {
    width: 100%;
    height: 15.1875rem;
  }

  .article {
    height: 21.375rem;
    padding-inline: 1.4375rem;
    margin-top: 55px;

    &__title {
      width: 60%;
      margin: 55px auto 30px auto;
      text-align: center;
      font-size: 1.3125em;
      font-weight: 900;
      color: v.$Dark-blue;
      font-family: v.$font2;
    }

    &__description {
      line-height: 1.5rem;
      text-align: center;
      font-size: 0.875;
      margin-bottom: 30px;
    }

    &__learn-more {
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      font-family: v.$font2;
      color: v.$Dark-blue;
      position: relative;

      .resalt {
        position: absolute;
        left: 50px;
        top: 10px;
        width: 200px;
        height: 15px;
        background-color: v.$Yellow;
        border-radius: 5px;
        z-index: -1;

        &--pink {
          background-color: v.$Soft-red;
        }
      }
    }
  }

  .frut {
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    color: v.$Very-dark-desaturated-blue;
    padding-inline:20px;

    &__title{
      margin-top:317px ;
      text-align: center;
      font-size: 1.5em;
      font-family: v.$font2;
      font-weight: 900;
      margin-bottom: 30px;
    }

    &__text{
      width: 95%;
      font-size:0.875em ;
      text-align: center;	
      margin: 0 auto;
     
    }

    &--graphic {
      background-image: url("../src/images/mobile/image-graphic-design.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--photography {
      background-image: url("../src/images/mobile/image-photography.jpg");
    }
  }
}
